/* Hull Business */

:root{
--primary: #504f4f; 
--secondary: #adadad;
--tertiary: #36b257; 
}


#js-menu > div.menu-navigation__inner > div > nav > ul > li > a, 
.button,
#a11y-pages-in-heading {
  text-transform: unset;
}

#js-menu > div.menu-navigation__inner > div > nav > ul > li > a {
  font-size:24px !important;
}

p, h1, .h1, h2, .h2, h3, .form__heading, .h3, h4, .h4, h5, .h5, h6, .h6, li, .li {
  font-family: calibri;
  color: #000000;
}

li, .li, p, .p {
  font-size: 18px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-weight: bold;
}

h1, .h1 {
  font-size: 33px;
}

h2, .h2 {
  font-size: 26px !important;
    margin: unset;
}

h3, .h3 {
  font-size: 20px !important;
}

.principle h3 {
  margin: unset;
}

h4, .h4 {
  font-size: 16px !important;
}

.list--breadcrumb > li > a {
  cursor:pointer;
}



.button, .button:visited {
  color: black !important;
  background-color: var(--secondary);
  font-size: 20px;
  font-weight: 600;
  border-color: #000000 !important;
}

.widget-width--100  .widget-content h2 {
  padding: 1em;
  border: 5px solid #25316A;
  border-radius: 1px;
}

/* no bg colour on pest image buttons because the images have white bg */
.widget-width--33 .editor a {
  // background-color: unset !important
}
/*
.nav--primary-navigation .button.js-menu-toggle:hover .toggle-icon::after,
.nav--primary-navigation .button.js-menu-toggle:hover .toggle-icon::before,
.nav--primary-navigation .button.js-menu-toggle:hover .toggle-icon .toggle-icon__line,
.nav--primary-navigation .button.js-menu-toggle:focus .toggle-icon::after,
.nav--primary-navigation .button.js-menu-toggle:focus .toggle-icon::before,
.nav--primary-navigation .button.js-menu-toggle:focus .toggle-icon .toggle-icon__line,
.nav--primary-navigation .button.js-menu-toggle:active .toggle-icon::after,
.nav--primary-navigation .button.js-menu-toggle:active .toggle-icon::before,
.nav--primary-navigation .button.js-menu-toggle:active .toggle-icon .toggle-icon__line
{
    background-color: #5eaf63;
}

.nav--primary-navigation .button:hover .icon-ui-search,
.nav--primary-navigation .button:focus .icon-ui-search,
.nav--primary-navigation .button:active .icon-ui-search,
.icon-ui-search-standout { 
  background-image: url('data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2260%22%20height%3D%2260%22%20viewBox%3D%220%200%2060%2060%22%20preserveAspectRatio%3D%22xMinYMid%22%20aria-hidden%3D%22true%22%20focusable%3D%22false%22%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M57.64%2C53.46l-15-15a23%2C23%2C0%2C1%2C0-4.18%2C4.18l15%2C15a3%2C3%2C0%2C0%2C0%2C4.18-4.17Zm-33.19-46a17%2C17%2C0%2C1%2C1-17%2C17A17.06%2C17.06%2C0%2C0%2C1%2C24.45%2C7.41Z%22%20fill%3D%22%23fd60ce%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E'); background-repeat: no-repeat !important; 
}



.nav--primary-navigation .button:hover .button__text {
  color:  #5eaf63;
}

.nav--primary-navigation 
.button:hover, 
.nav--primary-navigation 
.button:active {
    color: #5eaf63 !important;
}

.icon-ui-search {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60' preserveAspectRatio='xMinYMid' aria-hidden='true' focusable='false'%3E%3Cpath class='cls-1' d='M57.64,53.46l-15-15a23,23,0,1,0-4.18,4.18l15,15a3,3,0,0,0,4.18-4.17Zm-33.19-46a17,17,0,1,1-17,17A17.06,17.06,0,0,1,24.45,7.41Z' fill='%23FFF'%3E%3C/path%3E%3C/svg%3E") !important; 
} 
*/

.image-text[aria-hidden='true'] {
    display: unset;
}


.editor .button {
   width: 60% !important;
}

.button:hover, .button:focus {
   background-color: var(--tertiary);
}


#js-menu-toggle, #js-search-toggle {
  background-color:unset;
}

#js-menu-toggle:hover, #js-search-toggle:hover {
  background-color: unset;
}

.site-header, .site-footer {
    background-color: var(--primary);
}

.site-header button:focus, 
.site-header .button:focus {
  outline: unset;
  color: #5eaf63 !important;
}

.nav--primary-navigation .button__text {
  font-family: calibri;
  font-size: 22px;
  color: #FFFFFF; // update for other page
}

.toggle-icon::before, .toggle-icon::after, .toggle-icon .toggle-icon__line {
  background-color: #ffffff; //
  update for other page
}

.site-footer__text, .site-footer__links {
  color: #FFFFFF;
}

.site-footer__link {
  display: none;
}

a {
  text-decoration: underline;
  text-underline-position: under;
  font-size: 16px !important;
}


.nav--pages-in .nav__heading,
.nav--pages-in .list__item,
.nav--pages-in .list__link-text,
#pages-in-list .list__item .list__link
{
  color: #000000 !important;
}

#pages-in-list > li > a {
  text-decoration-color: #000000; 
}

.editor a:not(.button) {
  background-image: unset;
  color: #0000FF;
}

.editor a:not(.button):hover {
    background-position: 0 1px;
}

.editor a:not(.button):visited {
  all: unset;
  text-decoration: underline;
  text-underline-position: under;
  color: #800090 !important;
}

/* not sure this is right have commented out because it affects content links in doc pages */
.nav a:visited {
  //color: #ffffff !important;
}

.menu-navigation .menu-navigation__inner {
    background-color: var(--secondary);
}

.widget-image .image {
  border-bottom: unset; 
}



.cta-banner__description, .pagination__content {
  font-family: calibri;
  color: black !important;
}

/* not sure about this */
.nav--pages-in, #pages-in-list {
  background-color: #5eaf63;
}

.nav--pages-in .nav__list::before {
  border-style: unset;
}

a:hover {
  text decoration: unset;
}


