h1, h2, h3, h4 {
  font-family: Calibri;
  color: #000000;
  font-weight: bold;
}

p {
  font-family: Calibri;
  color: #000000;
}

.list--breadcrumb > li > a {
 color: #000000 !important;
}


.widget-navigation > ul > li > a > h3 {
  color:black !important;
  font-family: Arial !important;
}

.widget-image .image__caption {
  font-family: Calibri !important;
  color: #000000;
}

.nav__list {
  color: #000000 !important;
  font-family: Verdana !important;
}


.pagination__label, .pagination__meta {
  font-family: Verdana;
}

.page-subheading {
  font-family:Arial;
  color: #000000;
}

.site-header, .site-footer {
    background-color: #c83169;
}
