h1, h2, h3, h4 {
  font-family: "Helvetica";
  font-weight: 70; 
  color: #242424;
}

p {
  font-family: "Verdana";
}

.listing__summary {
  font-family: "Verdana";
}

.site-header, .site-footer, .menu-navigation .menu-navigation__inner {
    background-color: #7D4087;
}

