*{
   font-family: "alfabet",sans-serif; !important; 
}

/*
* Typography
*/
h1, .h1, h2, .h2, h3, .form__heading, .h3, h4, .h4, h5, .h5, h6, .h6,.listing .listing__link {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

h3, .form__heading, .h3, .gamma {
  font-size: 1.8rem;
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

h4, .h4 {
    font-size: 1.55rem;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}

h5, .h5 {
    font-size: 1.3rem;
    text-transform: unset !important;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}

/*
* Header
*/

.site-header{
    background-color: #fff;
}
.site-header a:focus, .site-header button:focus, .site-header .button:focus, .site-header__links:focus, .site-footer__social .list--social-links .list__link:focus, .site-footer__logo .identity__link:focus, .site-footer__group .list__link:focus, .site-footer__link:focus, .site-footer__text:focus, .site-footer__links:focus, .list--back-to-top .list__link:link, .list--back-to-top .list__link:hover, .list--back-to-top .list__link:active, .list--back-to-top .list__link:focus, .list--skip-links .list__link:link, .list--skip-links .list__link:hover, .list--skip-links .list__link:active, .list--skip-links .list__link:focus{
/*     outline: 3px solid #fff !important; */
}
.nav--primary-navigation .button:hover .button__text, .nav--primary-navigation .button:focus .button__text, .nav--primary-navigation .button:active .button__text{
/*     color: #fff; */
}
button#js-menu-toggle:hover, button#js-search-toggle:hover{
/*     outline: 1px solid #fff; */
/*     outline-offset: 10px; */
}
.nav--primary-navigation .button.js-menu-toggle:focus .toggle-icon::before,.nav--primary-navigation .button.js-menu-toggle:focus .toggle-icon::after, .nav--primary-navigation .button.js-menu-toggle:focus .toggle-icon .toggle-icon__line,.nav--primary-navigation .button.js-menu-toggle:hover .toggle-icon::before, .nav--primary-navigation .button.js-menu-toggle:hover .toggle-icon .toggle-icon__line,.nav--primary-navigation .button.js-menu-toggle:hover .toggle-icon::after{
/*     background-color: #fff; */
}
.nav--primary-navigation .button:hover .icon-ui-search, .nav--primary-navigation .button:focus .icon-ui-search, .nav--primary-navigation .button:active .icon-ui-search, .icon-ui-search-standout{
/*     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60' preserveAspectRatio='xMinYMid' aria-hidden='true' focusable='false'%3E%3Cpath class='cls-1' d='M57.64,53.46l-15-15a23,23,0,1,0-4.18,4.18l15,15a3,3,0,0,0,4.18-4.17Zm-33.19-46a17,17,0,1,1-17,17A17.06,17.06,0,0,1,24.45,7.41Z' fill='%23fff'%3E%3C/path%3E%3C/svg%3E") !important; */
}
.site-search--header::before {
/*     background-color: var(--primary);
    opacity: .9 */
}

.site-search--header .form__field,.site-search--header .button {
/*     border-bottom: 6px solid var(--secondary); */
}

.site-search--header .js-search-toggle {
/*     background: var(--secondary); */
}
#search-site-header{
/*     background-color: #fff; */
}
.site-search--header .button{
/*         background-color: var(--secondary) !important; */
}
