:root{
  --primary:#5ABEB3;
  --secondary:#F5296F;
}

/*
* Buttons
*/

.button,.button:visited,.form__label--upload,.form__label--image-upload,.widget--myaccount-sign-in a,.widget--myaccount-api-links a,.widget--myaccount-organisation-account-links a,.widget--myaccount-organisation-links a,.form__label--upload:visited,.form__label--image-upload:visited,.widget--myaccount-sign-in a:visited,.widget--myaccount-api-links a:visited,.widget--myaccount-organisation-account-links a:visited,.widget--myaccount-organisation-links a:visited {
    color: #333;
    border: 2px solid var(--primary);
}

/*
* Menu
*/
.menu-navigation .menu-navigation__inner {
   background: var(--primary)
}

.menu-navigation .list__link {
    color: #000;
}

.menu-navigation .js-menu-toggle .toggle-icon::before, .menu-navigation .js-menu-toggle .toggle-icon::after, .menu-navigation .js-menu-toggle .toggle-icon .toggle-icon__line{
  background-color: #000 !important;
}

.icon-accessibility{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' class='bi bi-universal-access' viewBox='0 0 16 16'%3E%3Cpath d='M9.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0ZM6 5.5l-4.535-.442A.531.531 0 0 1 1.531 4H14.47a.531.531 0 0 1 .066 1.058L10 5.5V9l.452 6.42a.535.535 0 0 1-1.053.174L8.243 9.97c-.064-.252-.422-.252-.486 0l-1.156 5.624a.535.535 0 0 1-1.053-.174L6 9V5.5Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

.widget-image .image {
    border-bottom: 10px solid var(--primary);
}

.nav--social-links .icon {
    height: 2.5rem;
    width: 2.5rem;
}

.site-footer__group .list__link {
    font-weight: 400;
    font-size: .9rem;
}

@media screen and (min-width: 960px) {
    .site-footer .nav--social-links {
        padding-left: 1.3rem;
    }
}

@media screen and (max-width: 599px) {
    .site-header>.container {
        display: flex;
        padding: 0 .8rem;
    }

    .site-header .button {
        padding: .5rem;
    }
}

.widget-navigation .list__link {
    border: 1px solid #fff;
}

.widget-navigation .list__link {
    background-color: #fff;
}

.widget-navigation .list__link .list__heading {
    font-weight: 700;
}



.listing--featured {
    border: 3px solid #000;
}

.list--listing .list__item, .widget--external_feeds .list--listing .list__item, .widget--latest_news .list--listing .list__item, .search-list .list--listing .list__item, .news-list .list--listing .list__item, .event-list .list--listing .list__item, .councillor-list .list--listing .list__item {
    border-bottom: 1px solid #eeeeee;
}

.form__field, .form__component--esri input[type="text"], .form__radio, .google-translate .goog-te-combo, .form__select, select, .form__textarea {
    box-shadow: unset;
}


.nav--pages-in .nav__list {
    background-color: var(--primary);
}

.nav--pages-in {
    background-color: var(--primary);
}

.nav--pages-in .nav__list::before {
    border-color: #fafaf8 transparent transparent;
}

.pagination {
    background-color: #fafaf8;
}

.pagination__item--next::after,.pagination__item--previous::after {
    border-left: 4px solid #000;
}

@media screen and (max-width: 768px) {
    .nav--pages-in .nav__list {
        border-bottom: unset;
    }
}

blockquote, .blockquote {
    background-color: #fafaf8;
}

blockquote p:first-child::before {
    background-color: #000;
}

@media screen and (min-width: 1200px) {
    .site-footer__left {
        max-width: 90%;
    }
}

::selection {
    background-color: var(--primary)!important;
    color: #fff !important;
}

.site-header a:focus, .site-header button:focus, .site-header .button:focus, .site-header__links:focus, .site-footer__social .list--social-links .list__link:focus, .site-footer__logo .identity__link:focus, .site-footer__group .list__link:focus, .site-footer__link:focus, .site-footer__text:focus, .site-footer__links:focus,a:focus {
    outline: 3px solid var(--secondary);
}
.nav--social-links .list__link::before{
    border: 3px solid var(--primary);
}


.site-search--header .js-search-toggle:hover, .site-search--header .js-search-toggle:focus, .site-search--header .js-search-toggle:active {
    background-color: unset;
    outline: 3px solid #000;
}

.site-search--header .form__field {
  font-size: 4.625rem;
}
.boxed .google-translate .goog-te-combo:focus, .google-translate .boxed .goog-te-combo:focus, .aside__section .google-translate .goog-te-combo:focus, .google-translate .aside__section .goog-te-combo:focus, .boxed .form__select:focus, .aside__section .form__select:focus, .boxed select:focus, .aside__section select:focus {
    background-color: unset;
    outline: 2px solid;
}

.list--numbered li::before, .editor ol:not([class]):not([type]) li::before, .list--ordered li::before{
  content: counter(list_item_count, numerical);
}

/* Hide submit new event button */
#content > div > div > section > a {
    display: none;
}
