/* switch to nova theme */

/* working for hull city council */

:root{
--primary: #DD137B; /* accessible version of previous #ee3897 */
--secondary: #237BA4; /* accessible version of previous #2688B5 */
--tertiary: #6F457D; /* accessible version of previous A881BA */
}

.editor a:not(.button) {
    background-size: 100% 105%;
}

[x-cloak] { display: none !important; }
body.is-menu-visible #menu {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  background-color: var(--primary) !important;
}

#menu ul + h2,
#menu ul + h2 + ul {
  display: none;
}
#menu h2:last-of-type,
#menu ul:last-of-type {
display: block;
}

#menu a:focus{
background-color: #000000 !important;
outline: 1px solid #fff!important;
padding: .2rem;
}

.menu-navigation.is-open .menu-navigation__inner {
    width: 25%;
}

#menu .close:focus {
    background-image: url(/themes/jadu-spectral/dist/css/images/close.svg) !important;
    background-position: 4.85em 1em !important;
    background-repeat: no-repeat !important;
}

.menu-navigation .menu-navigation__inner {
    background-color: var(--secondary);
}

.menu-navigation .list__link:focus, .menu-navigation .list__link:visited {
    color: #ffffff;
}

.list__item a {
   text-decoration:underline;
}

.list--breadcrumb {
    text-underline-offset: 0.2em;
    /* Silktide 'Ensure interactive components are far enough apart' - too close in mobile view when breadcrumb goes over 2 lines or more - added line height */
    line-height: 1.6em;  
}
.list--breadcrumb:hover {
    background-size: unset;
}

.list--breadcrumb a:hover {
    color: var(--secondary);
}

.menu-navigation .list__link:hover {
    background-color: var(--primary);
}

.menu-navigation {
  padding-left: 0.2em;
}
.editor a:not(.button):visited {
     color: var(--tertiary);
     /* text-underline-offset: 0.2em; */
}

.site-header button:focus {
    outline: unset;
}

.nav--primary-navigation .button:hover .button__text, .nav--primary-navigation .button:focus .button__text, .nav--primary-navigation .button:active .button__text {
 //   color: white;
}

.menu-navigation .list__link {
    text-transform: unset;
}

.button {
  border-color: var(--secondary) !important;
  border: 2px solid var(--secondary);
}

a:visited {
    color: var(--secondary);
}

.image__caption :focus{
  background-color: white;
}


#menu {
background: var(--primary) !important;
}

#header nav > ul > li > a.menuToggle {
color:#ffffff !important;
}

*:focus,
input:focus           {/* outline: 2px dotted #e5007e ; */}
.wrapper.style5 button:focus { background-color: #000; border: 2px dotted var(--primary); }
a:not(.image-link):focus                {
    background: var(--primary) !important;
    color: #fff !important;
    outline:var(--primary) !important;
}

.image__caption { 
    padding-left:0.2em !important;
}

.style5 h1, h2, h3, h4, h5, h6 {
letter-spacing: 0.05em !important;
}


.editor a:active {
color: var(--primary) !important;
text-decoration: none;
}

.wrapper.style5 button:focus { background-color: #000; border: 2px dotted #ffff00; }

input[type="submit"], input[type="reset"], input[type="button"], button, .button{
      max-width: 100%;
}

#menu ul + h2,
#menu ul + h2 + ul {
  display: none;
}

#menu .close:focus {
    background-image: url(https://www.workingforhullcitycouncil.org.uk/themes/jadu-spectral/dist/css/images/close.svg) !important;
    background-position: 4.85em 1em !important;
    background-repeat: no-repeat !important;
}

.image-link :focus {
    background: white !important;
}



/* 
Featured jobs
*/
.listBlock.box.styleOne.jobsList {
    padding: unset;
}
.listBlock.box.styleOne.jobsList > ul > li:before{
    display: none;
}
#content > div > div > div > div:nth-child(5) > div > div > div > div > div > div > div:nth-child(4) > div > ul {
    margin: unset !important;
}
.listBlock.box.styleOne.jobsList > ul > li > figure {
    margin: unset;
}
.listBlock.box.styleOne.jobsList > ul > li > article > div.jobDescription > h3 {
    margin-bottom: 1rem;
}
.saveJob {
    display: none;
}
.listBlock.box.styleOne.jobsList > ul > li {
    padding: unset;
}
.listBlock.box.styleOne.jobsList > ul {
    list-style: none;
    padding: unset;
}
li > figure > img {
    display: none;
}
.listBlock.box.styleOne.jobsList > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(64px, 100%/5)), 1fr));
  grid-column-gap: 18px;
  grid-row-gap: 10px;
  margin-bottom: 2rem;
}
.listBlock.box.styleOne.jobsList > ul > li {
    display: flex;
    background-color: #fff;
    border: 1px solid #eee;
    border-bottom: 2px solid var(--primary);
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0 0 0 1px hsla(230, 13%, 9%, 0.05), 0 0.3px 0.4px hsla(230, 13%, 9%, 0.02), 0 0.9px 1.5px hsla(230, 13%, 9%, 0.045), 0 3.5px 6px hsla(230, 13%, 9%, 0.09);
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media screen and (max-width: 736px) {
  .listBlock.box.styleOne.jobsList > ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
article > div.jobDetails > p > span {
    display: block;
    margin: .3rem 0;
}

#footer > ul > li:nth-child(2){
  display: none;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--primary);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
} 

.identity__logo {
    margin-right: 0.5em;
}


#nav a:hover {
  border-bottom: 2px solid var(--secondary)  !important;
}

#nav > ul > li > ul > li a:hover{
background-color: var(--secondary);
  color:white !important;
}

.icon-accessibility {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' class='bi bi-universal-access' viewBox='0 0 16 16'%3E%3Cpath d='M9.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0ZM6 5.5l-4.535-.442A.531.531 0 0 1 1.531 4H14.47a.531.531 0 0 1 .066 1.058L10 5.5V9l.452 6.42a.535.535 0 0 1-1.053.174L8.243 9.97c-.064-.252-.422-.252-.486 0l-1.156 5.624a.535.535 0 0 1-1.053-.174L6 9V5.5Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

@media screen and (max-width: 840px){
  #navButton .toggle:before, #navPanel{
    background-color: var(--primary);
    color: black !important;
  }
  #navPanel > nav > a:hover {
    background-color:var(--secondary);
    color:white !important;
  }
  .menu-navigation__inner {
    width:100% !important;
   }
}
