[x-cloak] { display: none !important; }
body.is-menu-visible #menu {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  background-color: #e5007e !important;
}

#menu ul + h2,
#menu ul + h2 + ul {
  display: none;
}
#menu h2:last-of-type,
#menu ul:last-of-type {
display: block;
}

#menu a:focus{
background-color: #00000000 !important;
outline: 1px solid #fff!important;
padding: .2rem;
}

#menu .close:focus {
    background-image: url(/themes/jadu-spectral/dist/css/images/close.svg) !important;
    background-position: 4.85em 1em !important;
    background-repeat: no-repeat !important;
}

/* font is open sans */

/* previously #e5007e = pink :  #ffff00 = yellow : teal = #1f7e9e  previously #AD005F */

#menu {
background: #e5007e !important;
}

#header nav > ul > li > a.menuToggle {
color:#ffffff !important;
}

*:focus,
input:focus           { outline: 2px dotted #e5007e ;}
.wrapper.style5 button:focus { background-color: #000; border: 2px dotted #e5007e; }
a:focus               { background: #e5007e !important; color: #fff !important; outline: #e5007e !important; }

.style5 h1, h2, h3, h4, h5, h6 {
letter-spacing: 0.05em !important;
}


.editor a:active {
color: #e5007e !important;
text-decoration: none;
}

.wrapper.style5 button:focus { background-color: #000; border: 2px dotted #ffff00; }

#menu ul + h2,
#menu ul + h2 + ul {
  display: none;
}

#menu .close:focus {
    background-image: url(https://www.workingforhullcitycouncil.org.uk/themes/jadu-spectral/dist/css/images/close.svg) !important;
    background-position: 4.85em 1em !important;
    background-repeat: no-repeat !important;
}

/* 
Featured jobs
*/
.listBlock.box.styleOne.jobsList {
    padding: unset;
}
.saveJob {
    display: none;
}
.listBlock.box.styleOne.jobsList > ul > li {
    padding: unset;
}
.listBlock.box.styleOne.jobsList > ul {
    list-style: none;
    padding: unset;
}
li > figure > img {
    display: none;
}
.listBlock.box.styleOne.jobsList > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(64px, 100%/5)), 1fr));
  grid-column-gap: 18px;
  grid-row-gap: 10px;
  margin-bottom: 2rem;
}
.listBlock.box.styleOne.jobsList > ul > li {
    background-color: #fff;
    border: 1px solid #eee;
    border-bottom: 2px solid #e5007e;
    padding: 1rem;
    border-radius: 6px;

  box-shadow: 0 0 0 1px hsla(230, 13%, 9%, 0.05),
              0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
              0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
              0 3.5px 6px hsla(230, 13%, 9%, 0.09);
}
@media screen and (max-width: 736px) {
  .listBlock.box.styleOne.jobsList > ul {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
article > div.jobDetails > p > span {
    display: block;
    margin: .3rem 0;
}

#footer > ul > li:nth-child(2){
  display: none;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #e5007e;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
} 
