:root{
  --primary:#368445;
  --secondary:#9C549C;
}

*:focus {
    outline: 2px dotted var(--secondary);
}

/*
* Links
*/

a, a:focus {
    color: #2F743D !important;
}
a:hover {
  color: var(--secondary) !important;
  border-bottom-color: var(--secondary);
}

.list--skip-links .list__link:link, .list--skip-links .list__link:hover, .list--skip-links .list__link:active, .list--skip-links .list__link:focus {
    background-color: var(--primary);
    color: #fff !important;
    padding: 1rem !important;
    font-weight: bold;
}

/*
* Menu and header
*/

#wrapper .toggle:focus{
  outline: 2px dotted var(--secondary);
}

#js-menu-toggle > ul > li > a{
  color: initial !important;
}

#js-menu-toggle > ul > li > a:hover{
  color: var(--primary) !important;
}

#header > ul > li:nth-child(1) {
 display: none;
}
#header > ul > li:nth-child(2) {
 display: none;
}

#header{
  border-bottom: solid 5px var(--primary);
  padding: 1em 0 1em 0;
}


/*
* Buttons
*/

input[type="submit"], input[type="reset"], input[type="button"], button, .button, input[type="submit"].primary, input[type="reset"].primary, input[type="button"].primary, button.primary, .button.primary{
  box-shadow: inset 0 0 0 2px var(--primary);
  color: var(--primary) !important;
  background-color: #fff;
}

button:hover, .button:hover,input[type="submit"].primary:hover, input[type="reset"].primary:hover, input[type="button"].primary:hover, button.primary:hover, .button.primary:hover {
    background-color: var(--secondary);
    color: #fff !important;
  
}

button:focus, .button:focus {
    background-color: var(--secondary);
    color: #fff !important;
}


/*
* Lists
*/
ul li {
    padding: 0.5rem 0.5rem;
}
li.list__item {
    padding: .3rem 0;
}

/*
* Fields
*/
input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover, input[type="tel"]:hover, input[type="search"]:hover, input[type="date"]:hover, input[type="url"]:hover, select:hover, textarea:hover, input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="search"]:focus, input[type="date"]:focus, input[type="url"]:focus, select:focus, textarea:focus{
    border-color: var(--primary);
    box-shadow: 0 0 0 1px var(--primary);
}

/*
* Events
*/
#content > div > div > div.col-4.col-12-medium > a {
  display: none;
}

/*
* Hide postcode search
*/
#content > div > div > div.col-8.col-12-medium > div > form > div > div:nth-child(6) {
    display: none;
}

/*
* Footer
*/
#footer > p {
  display: none;
}

/*
* Responsive tables to avoid scrolling in two dimensions
*/
@media all and (max-width:768px){
    table,tr, td, tbody, td p table div, table table{
        width:100%!important;
        float:left;
        clear:both;
        display:block;
    }
    #header > a > strong {
        display:none;
    }
}
