/* Hull Strength To Change */

:root{
--primary: #F3A119;
--secondary: #C21741;
--tertiary: #EB6D13;
--quarternary: #CC1918; 
}

/* Font */

body, input, select, textarea, h1, h2, h3, h4, h5, h6{
  font-family: Roboto, Arial,Helvetica Neue,Helvetica,sans-serif; 
  letter-spacing: unset !important;
  color: #4e4e4e;
}
