@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    font: 1em / 1.5 "Outfit",sans-serif;
}
.style-guide__heading {
    font-family: "Outfit",sans-serif;
}
.site-header {
    background-color: #ffffff;
}
.site-search--header {
    color: #2d3547;
}
.page-header, .breadcrumb {
    background-color: #fafaf8;
}
/* 

Navigation

*/
.toggle-icon::before, .toggle-icon::after, .toggle-icon .toggle-icon__line {
    background-color: #000;
}
.nav--primary-navigation .button__text {
    color: #000;
}

.menu-navigation .menu-navigation__inner{
    background-color: #74cac3;
    width: 100%;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 900 450' style='transform: scale(2);'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fff; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='m490.49,325.74h-8.08v-48.49h-8.08v48.49h-24.25v-48.49h-8.08v48.49h-8.08v-56.57h24.24v48.49h8.08v-48.49h24.25v56.57Z'/%3E%3Cpath class='cls-1' d='m549.6,293.42h-24.25v8.08h16.16v8.08h-24.25v-24.25h40.41v40.41h-56.57v-56.57h56.57v8.08h-48.49v40.41h40.41v-24.25Z'/%3E%3Cpath class='cls-1' d='m490.49,393.35h-8.08v-48.49h-8.08v48.49h-24.25v-48.49h-8.08v48.49h-8.08v-56.57h24.24v48.49h8.08v-48.49h24.25v56.57Z'/%3E%3Cpath class='cls-1' d='m549.6,361.02h-24.25v8.08h16.16v8.08h-24.25v-24.25h40.41v40.41h-56.57v-56.57h56.57v8.08h-48.49v40.41h40.41v-24.25Z'/%3E%3Cpath class='cls-1' d='m624.57,325.74h-8.08v-48.49h-8.08v48.49h-24.25v-48.49h-8.08v48.49h-8.08v-56.57h24.24v48.49h8.08v-48.49h24.25v56.57Z'/%3E%3Cpath class='cls-1' d='m683.68,293.42h-24.25v8.08h16.16v8.08h-24.25v-24.25h40.41v40.41h-56.57v-56.57h56.57v8.08h-48.49v40.41h40.41v-24.25Z'/%3E%3Cpath class='cls-1' d='m624.57,393.35h-8.08v-48.49h-8.08v48.49h-24.25v-48.49h-8.08v48.49h-8.08v-56.57h24.24v48.49h8.08v-48.49h24.25v56.57Z'/%3E%3Cpath class='cls-1' d='m683.68,361.02h-24.25v8.08h16.16v8.08h-24.25v-24.25h40.41v40.41h-56.57v-56.57h56.57v8.08h-48.49v40.41h40.41v-24.25Z'/%3E%3Cpath class='cls-1' d='m490.49,457.89h-8.08v-48.49h-8.08v48.49h-24.25v-48.49h-8.08v48.49h-8.08v-56.57h24.24v48.49h8.08v-48.49h24.25v56.57Z'/%3E%3Cpath class='cls-1' d='m549.6,425.57h-24.25v8.08h16.16v8.08h-24.25v-24.25h40.41v40.41h-56.57v-56.57h56.57v8.08h-48.49v40.41h40.41v-24.25Z'/%3E%3Cpath class='cls-1' d='m490.49,525.5h-8.08v-48.49h-8.08v48.49h-24.25v-48.49h-8.08v48.49h-8.08v-56.57h24.24v48.49h8.08v-48.49h24.25v56.57Z'/%3E%3Cpath class='cls-1' d='m549.6,493.17h-24.25v8.08h16.16v8.08h-24.25v-24.25h40.41v40.41h-56.57v-56.57h56.57v8.08h-48.49v40.41h40.41v-24.25Z'/%3E%3Cpath class='cls-1' d='m624.57,457.89h-8.08v-48.49h-8.08v48.49h-24.25v-48.49h-8.08v48.49h-8.08v-56.57h24.24v48.49h8.08v-48.49h24.25v56.57Z'/%3E%3Cpath class='cls-1' d='m683.68,425.57h-24.25v8.08h16.16v8.08h-24.25v-24.25h40.41v40.41h-56.57v-56.57h56.57v8.08h-48.49v40.41h40.41v-24.25Z'/%3E%3Cpath class='cls-1' d='m624.57,525.5h-8.08v-48.49h-8.08v48.49h-24.25v-48.49h-8.08v48.49h-8.08v-56.57h24.24v48.49h8.08v-48.49h24.25v56.57Z'/%3E%3Cpath class='cls-1' d='m683.68,493.17h-24.25v8.08h16.16v8.08h-24.25v-24.25h40.41v40.41h-56.57v-56.57h56.57v8.08h-48.49v40.41h40.41v-24.25Z'/%3E%3Cpath class='cls-1' d='m490.49,589.69h-8.08v-48.49h-8.08v48.49h-24.25v-48.49h-8.08v48.49h-8.08v-56.57h24.24v48.49h8.08v-48.49h24.25v56.57Z'/%3E%3Cpath class='cls-1' d='m549.6,557.37h-24.25v8.08h16.16v8.08h-24.25v-24.25h40.41v40.41h-56.57v-56.57h56.57v8.08h-48.49v40.41h40.41v-24.25Z'/%3E%3Cpath class='cls-1' d='m490.49,657.3h-8.08v-48.49h-8.08v48.49h-24.25v-48.49h-8.08v48.49h-8.08v-56.57h24.24v48.49h8.08v-48.49h24.25v56.57Z'/%3E%3Cpath class='cls-1' d='m549.6,624.98h-24.25v8.08h16.16v8.08h-24.25v-24.25h40.41v40.41h-56.57v-56.57h56.57v8.08h-48.49v40.41h40.41v-24.25Z'/%3E%3Cpath class='cls-1' d='m624.57,589.69h-8.08v-48.49h-8.08v48.49h-24.25v-48.49h-8.08v48.49h-8.08v-56.57h24.24v48.49h8.08v-48.49h24.25v56.57Z'/%3E%3Cpath class='cls-1' d='m683.68,557.37h-24.25v8.08h16.16v8.08h-24.25v-24.25h40.41v40.41h-56.57v-56.57h56.57v8.08h-48.49v40.41h40.41v-24.25Z'/%3E%3Cpath class='cls-1' d='m624.57,657.3h-8.08v-48.49h-8.08v48.49h-24.25v-48.49h-8.08v48.49h-8.08v-56.57h24.24v48.49h8.08v-48.49h24.25v56.57Z'/%3E%3Cpath class='cls-1' d='m683.68,624.98h-24.25v8.08h16.16v8.08h-24.25v-24.25h40.41v40.41h-56.57v-56.57h56.57v8.08h-48.49v40.41h40.41v-24.25Z'/%3E%3Cpath class='cls-1' d='m490.49,721.84h-8.08v-48.49h-8.08v48.49h-24.25v-48.49h-8.08v48.49h-8.08v-56.57h24.24v48.49h8.08v-48.49h24.25v56.57Z'/%3E%3Cpath class='cls-1' d='m549.6,689.52h-24.25v8.08h16.16v8.08h-24.25v-24.25h40.41v40.41h-56.57v-56.57h56.57v8.08h-48.49v40.41h40.41v-24.25Z'/%3E%3Cpath class='cls-1' d='m490.49,789.45h-8.08v-48.49h-8.08v48.49h-24.25v-48.49h-8.08v48.49h-8.08v-56.57h24.24v48.49h8.08v-48.49h24.25v56.57Z'/%3E%3Cpath class='cls-1' d='m549.6,757.13h-24.25v8.08h16.16v8.08h-24.25v-24.25h40.41v40.41h-56.57v-56.57h56.57v8.08h-48.49v40.41h40.41v-24.25Z'/%3E%3Cpath class='cls-1' d='m624.57,721.84h-8.08v-48.49h-8.08v48.49h-24.25v-48.49h-8.08v48.49h-8.08v-56.57h24.24v48.49h8.08v-48.49h24.25v56.57Z'/%3E%3Cpath class='cls-1' d='m683.68,689.52h-24.25v8.08h16.16v8.08h-24.25v-24.25h40.41v40.41h-56.57v-56.57h56.57v8.08h-48.49v40.41h40.41v-24.25Z'/%3E%3Cpath class='cls-1' d='m624.57,789.45h-8.08v-48.49h-8.08v48.49h-24.25v-48.49h-8.08v48.49h-8.08v-56.57h24.24v48.49h8.08v-48.49h24.25v56.57Z'/%3E%3Cpath class='cls-1' d='m683.68,757.13h-24.25v8.08h16.16v8.08h-24.25v-24.25h40.41v40.41h-56.57v-56.57h56.57v8.08h-48.49v40.41h40.41v-24.25Z'/%3E%3Cpath class='cls-1' d='m221.91,325.74h-8.08v-48.49h-8.08v48.49h-24.25v-48.49h-8.08v48.49h-8.08v-56.57h24.24v48.49h8.08v-48.49h24.25v56.57Z'/%3E%3Cpath class='cls-1' d='m281.02,293.42h-24.25v8.08h16.16v8.08h-24.25v-24.25h40.41v40.41h-56.57v-56.57h56.57v8.08h-48.49v40.41h40.41v-24.25Z'/%3E%3Cpath class='cls-1' d='m221.91,393.35h-8.08v-48.49h-8.08v48.49h-24.25v-48.49h-8.08v48.49h-8.08v-56.57h24.24v48.49h8.08v-48.49h24.25v56.57Z'/%3E%3Cpath class='cls-1' d='m281.02,361.02h-24.25v8.08h16.16v8.08h-24.25v-24.25h40.41v40.41h-56.57v-56.57h56.57v8.08h-48.49v40.41h40.41v-24.25Z'/%3E%3Cpath class='cls-1' d='m355.99,325.74h-8.08v-48.49h-8.08v48.49h-24.25v-48.49h-8.08v48.49h-8.08v-56.57h24.24v48.49h8.08v-48.49h24.25v56.57Z'/%3E%3Cpath class='cls-1' d='m415.1,293.42h-24.25v8.08h16.16v8.08h-24.25v-24.25h40.41v40.41h-56.57v-56.57h56.57v8.08h-48.49v40.41h40.41v-24.25Z'/%3E%3Cpath class='cls-1' d='m355.99,393.35h-8.08v-48.49h-8.08v48.49h-24.25v-48.49h-8.08v48.49h-8.08v-56.57h24.24v48.49h8.08v-48.49h24.25v56.57Z'/%3E%3Cpath class='cls-1' d='m415.1,361.02h-24.25v8.08h16.16v8.08h-24.25v-24.25h40.41v40.41h-56.57v-56.57h56.57v8.08h-48.49v40.41h40.41v-24.25Z'/%3E%3Cpath class='cls-1' d='m221.91,457.89h-8.08v-48.49h-8.08v48.49h-24.25v-48.49h-8.08v48.49h-8.08v-56.57h24.24v48.49h8.08v-48.49h24.25v56.57Z'/%3E%3Cpath class='cls-1' d='m281.02,425.57h-24.25v8.08h16.16v8.08h-24.25v-24.25h40.41v40.41h-56.57v-56.57h56.57v8.08h-48.49v40.41h40.41v-24.25Z'/%3E%3Cpath class='cls-1' d='m221.91,525.5h-8.08v-48.49h-8.08v48.49h-24.25v-48.49h-8.08v48.49h-8.08v-56.57h24.24v48.49h8.08v-48.49h24.25v56.57Z'/%3E%3Cpath class='cls-1' d='m281.02,493.17h-24.25v8.08h16.16v8.08h-24.25v-24.25h40.41v40.41h-56.57v-56.57h56.57v8.08h-48.49v40.41h40.41v-24.25Z'/%3E%3Cpath class='cls-1' d='m355.99,457.89h-8.08v-48.49h-8.08v48.49h-24.25v-48.49h-8.08v48.49h-8.08v-56.57h24.24v48.49h8.08v-48.49h24.25v56.57Z'/%3E%3Cpath class='cls-1' d='m415.1,425.57h-24.25v8.08h16.16v8.08h-24.25v-24.25h40.41v40.41h-56.57v-56.57h56.57v8.08h-48.49v40.41h40.41v-24.25Z'/%3E%3Cpath class='cls-1' d='m355.99,525.5h-8.08v-48.49h-8.08v48.49h-24.25v-48.49h-8.08v48.49h-8.08v-56.57h24.24v48.49h8.08v-48.49h24.25v56.57Z'/%3E%3Cpath class='cls-1' d='m415.1,493.17h-24.25v8.08h16.16v8.08h-24.25v-24.25h40.41v40.41h-56.57v-56.57h56.57v8.08h-48.49v40.41h40.41v-24.25Z'/%3E%3Cpath class='cls-1' d='m221.91,589.69h-8.08v-48.49h-8.08v48.49h-24.25v-48.49h-8.08v48.49h-8.08v-56.57h24.24v48.49h8.08v-48.49h24.25v56.57Z'/%3E%3Cpath class='cls-1' d='m281.02,557.37h-24.25v8.08h16.16v8.08h-24.25v-24.25h40.41v40.41h-56.57v-56.57h56.57v8.08h-48.49v40.41h40.41v-24.25Z'/%3E%3Cpath class='cls-1' d='m221.91,657.3h-8.08v-48.49h-8.08v48.49h-24.25v-48.49h-8.08v48.49h-8.08v-56.57h24.24v48.49h8.08v-48.49h24.25v56.57Z'/%3E%3Cpath class='cls-1' d='m281.02,624.98h-24.25v8.08h16.16v8.08h-24.25v-24.25h40.41v40.41h-56.57v-56.57h56.57v8.08h-48.49v40.41h40.41v-24.25Z'/%3E%3Cpath class='cls-1' d='m355.99,589.69h-8.08v-48.49h-8.08v48.49h-24.25v-48.49h-8.08v48.49h-8.08v-56.57h24.24v48.49h8.08v-48.49h24.25v56.57Z'/%3E%3Cpath class='cls-1' d='m415.1,557.37h-24.25v8.08h16.16v8.08h-24.25v-24.25h40.41v40.41h-56.57v-56.57h56.57v8.08h-48.49v40.41h40.41v-24.25Z'/%3E%3Cpath class='cls-1' d='m355.99,657.3h-8.08v-48.49h-8.08v48.49h-24.25v-48.49h-8.08v48.49h-8.08v-56.57h24.24v48.49h8.08v-48.49h24.25v56.57Z'/%3E%3Cpath class='cls-1' d='m415.1,624.98h-24.25v8.08h16.16v8.08h-24.25v-24.25h40.41v40.41h-56.57v-56.57h56.57v8.08h-48.49v40.41h40.41v-24.25Z'/%3E%3Cpath class='cls-1' d='m221.91,721.84h-8.08v-48.49h-8.08v48.49h-24.25v-48.49h-8.08v48.49h-8.08v-56.57h24.24v48.49h8.08v-48.49h24.25v56.57Z'/%3E%3Cpath class='cls-1' d='m281.02,689.52h-24.25v8.08h16.16v8.08h-24.25v-24.25h40.41v40.41h-56.57v-56.57h56.57v8.08h-48.49v40.41h40.41v-24.25Z'/%3E%3Cpath class='cls-1' d='m221.91,789.45h-8.08v-48.49h-8.08v48.49h-24.25v-48.49h-8.08v48.49h-8.08v-56.57h24.24v48.49h8.08v-48.49h24.25v56.57Z'/%3E%3Cpath class='cls-1' d='m281.02,757.13h-24.25v8.08h16.16v8.08h-24.25v-24.25h40.41v40.41h-56.57v-56.57h56.57v8.08h-48.49v40.41h40.41v-24.25Z'/%3E%3Cpath class='cls-1' d='m355.99,721.84h-8.08v-48.49h-8.08v48.49h-24.25v-48.49h-8.08v48.49h-8.08v-56.57h24.24v48.49h8.08v-48.49h24.25v56.57Z'/%3E%3Cpath class='cls-1' d='m415.1,689.52h-24.25v8.08h16.16v8.08h-24.25v-24.25h40.41v40.41h-56.57v-56.57h56.57v8.08h-48.49v40.41h40.41v-24.25Z'/%3E%3Cpath class='cls-1' d='m355.99,789.45h-8.08v-48.49h-8.08v48.49h-24.25v-48.49h-8.08v48.49h-8.08v-56.57h24.24v48.49h8.08v-48.49h24.25v56.57Z'/%3E%3Cpath class='cls-1' d='m415.1,757.13h-24.25v8.08h16.16v8.08h-24.25v-24.25h40.41v40.41h-56.57v-56.57h56.57v8.08h-48.49v40.41h40.41v-24.25Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: bottom;
    background-blend-mode: overlay;
}
.menu-navigation .list__link{
    font-size: 2rem;
}
h1,.h1,h2,.h2,h3,.form__heading,.h3,h4,.h4,h5,.h5,h6,.h6 {
    color: #1c212c;
    font-family: "Outfit",serif;
}
h5,.h5 {
    font-family: "Outfit",sans-serif;
    text-transform: uppercase
}

h6,.h6 {
    font-family: "Outfit",sans-serif
}
blockquote p:first-child,blockquote .blockquote__text,.blockquote p:first-child,.blockquote .blockquote__text {
    font-family: "Outfit",serif;
}
.form__field,.form__component--esri input[type="text"],.form__radio,.google-translate .goog-te-combo,.form__select,select,.form__textarea {
    font-family: "Outfit",sans-serif;
}
.button,.button:visited,.form__label--upload,.form__label--image-upload,.widget--myaccount-sign-in a,.widget--myaccount-api-links a,.widget--myaccount-organisation-account-links a,.widget--myaccount-organisation-links a,.form__label--upload:visited,.form__label--image-upload:visited,.widget--myaccount-sign-in a:visited,.widget--myaccount-api-links a:visited,.widget--myaccount-organisation-account-links a:visited,.widget--myaccount-organisation-links a:visited {
    -webkit-appearance: none;
    background-color: #fff;
    border: 2px solid #000000;
    border-radius: unset;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: "Outfit",sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin: 1.5rem 4px 4px;
    padding: .75rem 2.25rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: unset;
    vertical-align: middle;
    white-space: normal;
}
.image-link .image__caption {
    font-family: "Outfit",sans-serif;
}
.nav--pages-in .nav__heading {
    font-family: "Outfit",sans-serif;
}
.widget-middle-advert .widget__subheading-child,.widget-right-advert .widget__subheading-child,.widget-middle-advert .widget__text,.widget-right-advert .widget__text {
    font-family: "Outfit",sans-serif;
}
.widget-homepage-banner .image__caption,.widget-homepage-banner .image-link .image__caption {
    font-family: "Outfit",serif;
}
.widget-image .image__caption {
    font-family: "Outfit",serif;
}
.site-search--header .form__field {
    font-family: "Outfit",serif;
}
.editor a:not(.button) {
    background-image: -webkit-linear-gradient(bottom, #fcb442 0, #fcb442 1px, transparent 1px, transparent 100%);
    background-image: -o-linear-gradient(bottom, #fcb442 0, #fcb442 1px, transparent 1px, transparent 100%);
    background-image: linear-gradient(to top, #fcb442 0, #fcb442 1px, transparent 2px, transparent 100%);
    background-position: 0 -2px;
    background-repeat: no-repeat;
    background-size: 0 100%;
    color: #000;
    background-size: 100% 110%;
}
.button, .button:visited, .form__label--upload, .form__label--image-upload, .widget--myaccount-sign-in a, .widget--myaccount-api-links a, .widget--myaccount-organisation-account-links a, .widget--myaccount-organisation-links a, .form__label--upload:visited, .form__label--image-upload:visited, .widget--myaccount-sign-in a:visited, .widget--myaccount-api-links a:visited, .widget--myaccount-organisation-account-links a:visited, .widget--myaccount-organisation-links a:visited{
    background-color: #fff;
    border: 1px solid;
    border-radius: unset;
    color: #000000;
    font-family: "Outfit",sans-serif;
}
.button::before, .button:visited::before {
    border: unset;
    border-radius: unset;
}
.widget-image .image__caption{
    color: #000000;
}
.site-footer {
    background-color: #ffffff;
    color: #000;
}
.nav--social-links .icon{
    background-color: #000;
}
.site-footer__text, .site-footer__links, .site-footer__group .list__link, .site-footer__link {
    color: #000;
}

