@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    font: 1em / 1.5 "Outfit",sans-serif;
}
.style-guide__heading {
    font-family: "Outfit",sans-serif;
}
.site-header {
    background-color: #ffffff;
}
.site-search--header {
    color: #2d3547;
}

.toggle-icon::before, .toggle-icon::after, .toggle-icon .toggle-icon__line {
    background-color: #000;
}
.nav--primary-navigation .button__text {
    color: #000;
}

h1,.h1,h2,.h2,h3,.form__heading,.h3,h4,.h4,h5,.h5,h6,.h6 {
    color: #1c212c;
    font-family: "Outfit",serif;
}
h5,.h5 {
    font-family: "Outfit",sans-serif;
    text-transform: uppercase
}

h6,.h6 {
    font-family: "Outfit",sans-serif
}
blockquote p:first-child,blockquote .blockquote__text,.blockquote p:first-child,.blockquote .blockquote__text {
    font-family: "Outfit",serif;
}
.form__field,.form__component--esri input[type="text"],.form__radio,.google-translate .goog-te-combo,.form__select,select,.form__textarea {
    font-family: "Outfit",sans-serif;
}
.button,.button:visited,.form__label--upload,.form__label--image-upload,.widget--myaccount-sign-in a,.widget--myaccount-api-links a,.widget--myaccount-organisation-account-links a,.widget--myaccount-organisation-links a,.form__label--upload:visited,.form__label--image-upload:visited,.widget--myaccount-sign-in a:visited,.widget--myaccount-api-links a:visited,.widget--myaccount-organisation-account-links a:visited,.widget--myaccount-organisation-links a:visited {
    -webkit-appearance: none;
    background-color: #fff;
    border: 2px solid #000000;
    border-radius: unset;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: "Outfit",sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin: 1.5rem 4px 4px;
    padding: .75rem 2.25rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: unset;
    vertical-align: middle;
    white-space: normal;
}
.image-link .image__caption {
    font-family: "Outfit",sans-serif;
}
.nav--pages-in .nav__heading {
    font-family: "Outfit",sans-serif;
}
.widget-middle-advert .widget__subheading-child,.widget-right-advert .widget__subheading-child,.widget-middle-advert .widget__text,.widget-right-advert .widget__text {
    font-family: "Outfit",sans-serif;
}
.widget-homepage-banner .image__caption,.widget-homepage-banner .image-link .image__caption {
    font-family: "Outfit",serif;
}
.widget-image .image__caption {
    font-family: "Outfit",serif;
}
.site-search--header .form__field {
    font-family: "Outfit",serif;
}
.editor a:not(.button) {
    background-image: -webkit-linear-gradient(bottom, #fcb442 0, #fcb442 1px, transparent 1px, transparent 100%);
    background-image: -o-linear-gradient(bottom, #fcb442 0, #fcb442 1px, transparent 1px, transparent 100%);
    background-image: linear-gradient(to top, #fcb442 0, #fcb442 1px, transparent 2px, transparent 100%);
    background-position: 0 -2px;
    background-repeat: no-repeat;
    background-size: 0 100%;
    color: #000;
    background-size: 100% 110%;
}
.button, .button:visited, .form__label--upload, .form__label--image-upload, .widget--myaccount-sign-in a, .widget--myaccount-api-links a, .widget--myaccount-organisation-account-links a, .widget--myaccount-organisation-links a, .form__label--upload:visited, .form__label--image-upload:visited, .widget--myaccount-sign-in a:visited, .widget--myaccount-api-links a:visited, .widget--myaccount-organisation-account-links a:visited, .widget--myaccount-organisation-links a:visited{
    background-color: #fff;
    border: unset;
    border-radius: unset;
    color: #000000;
    font-family: "Outfit",sans-serif;
    box-shadow:
      6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
      22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
      100px 100px 80px rgba(0, 0, 0, 0.07)
    ;
}
.button::before, .button:visited::before {
    border: unset;
    border-radius: unset;
}
.widget-image .image__caption{
    color: #000000;
}
.site-footer {
    background-color: #ffffff;
    color: #000;
}
.nav--social-links .icon{
    background-color: #000;
}
.site-footer__text, .site-footer__links, .site-footer__group .list__link, .site-footer__link {
    color: #000;
}

