:root{
--orange: #f6a800;
--grey:#616161;
}

#menu ul + h2,
#menu ul + h2 + ul {
    display: none;
}
.summary {
  visibility:hidden;
}

a:focus{
	background-color: var(--orange) !important;
}
.button {
background-color: var(--orange);
}

#menu .close:focus {
    background-image: url(https://www.hullfostering.co.uk/themes/jadu-spectral/dist/css/images/close.svg) !important;
    background-position: 4.85em 1em !important;
    background-repeat: no-repeat !important;
}


.feedback-wrapper {
    background: white;
}
.site-rating__heading {
    font-size: 1rem;
}
a.list__link.gm_sidebar_anchor {
    color: #000;
}
