/* stylesheet for Editorial theme */

:root{
  --primary:#5d6169; /* dark grey */
  --secondary:#2e5caf; /* light blue */
   --tertiary:#1e3c72; /* dark blue */
}


#wrapper .toggle {
  color: var(--secondary);
}

a {
  color:var(--secondary) !important;
}

a:hover {
  color: var(--tertiary) !important; 
  border-bottom-color:  var(--tertiary) !important; 
}

#wrapper a:focus {
    outline: 2px dotted var(--tertiary) !important;
}
.list--navigation li{
  border-bottom:1px solid var(--primary);
}

.menu > ul > li {
  border-top: unset;
}


.breadcrumb a {
  color:var(--tertiary);
}
.breadcrumb a:hover {
  border-bottom-color:var(--tertiary);
}

.listing__summary {
  color:var(--tertiary);
}
.meta--date {
  color: var(--tertiary);
}
.listing__link {
  border-bottom: dotted 1px var(--tertiary);
}

.menu ul a:hover, .menu ul span:hover {
    color: var(--tertiary) !important;
}

.copyright { display:none; }

input[type="text"]:hover, 
input[type="password"]:hover, 
input[type="email"]:hover, 
input[type="tel"]:hover, 
input[type="search"]:hover, 
input[type="date"]:hover, 
input[type="url"]:hover, 
select:hover, 
textarea:hover {
    border-color: var(--secondary);
    box-shadow: 0 0 0 1px var(--secondary);
}

.button {
  color: var(--secondary) !important;
  box-shadow: inset 0 0 0 2px var(--secondary) !important;
  background-color: white !important;
}

.button.primary { 
  color:var(--secondary) !important;
}
.button.primary:hover { 
  color:white !important;
}


.button:hover {
  background-color: var(--secondary) !important;
  box-shadow: inset 0 0 0 2px var(--tertiary) !important;
}

.button:active {
  background-color: #f5f6f7;
}

#header {
  border-bottom: solid 5px var(--secondary);
  padding-top:1em;
}

header > ul > li:nth-child(1) {
 display: none;
}
#header > ul > li:nth-child(2) {
 display: none;
}

*:focus {
    outline: 2px dotted var(--secondary);
}

#postcode {
  display:none;
}
label[for=postcode] {
  display:none;
}

.list__link {
  color:var(--tertiary) !important
}

.list--skip-links .list__link:link, .list--skip-links .list__link:hover, .list--skip-links .list__link:active, .list--skip-links .list__link:focus {
    background-color: #f5f6f7 !important;
}

#content > div > div > div.col-4.col-12-medium {
  display:none;
}

@media all and (max-width:768px){
    #enableRecite {
      margin-top: 8em;
    }
}
