:root{
--primary: #242424;
--secondary: #B0113C;
--tertiary: #9E1036;
}

#js-menu-toggle > li:nth-child(2), 
#js-menu-toggle > li:nth-child(2) > a,
#js-menu-toggle > li:nth-child(3),
#navPanel > nav > ul > li:nth-child(6)> a,
#navPanel > nav > ul > li:nth-child(7)> a,
#footer > ul > li:nth-child(2),
#main > div > div > div.col-4.col-12-narrow > a
{
    display: none;
}

#navPanel > nav > ul > li > a {
    color: white !important;
}

#navPanel {
    background-color: var(--tertiary);
}

#search-site-header {
    border-color: var(--secondary);
}

#js-menu-toggle > li > ul > li > a {
    color: var(--primary) !important;
}

.list--breadcrumb {
	color: var(--primary);
}

.list--breadcrumb > .list__item > a {
    color: var(--tertiary) !important;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, p, th, td {
    color: var(--primary) !important;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    font-weight: bold;
}

#header > a > span:nth-child(2) {
    color: var(--primary);
    font-weight:normal;
    font-size: clamp(16px, calc(0.9375rem + ((1vw - 7.68px) * 0.434)), 20px) !important;
}

#header .logo:focus {
    outline: 2px solid var(--primary);
}

#banner > h1 {
    color: var(--primary) !important;
}

.copyright {
    color: white !important;
}

#header > a > span:nth-child(2) {
	color: white;
	font-size: 18px  !important;
}

#header.reveal {
  animation: unset;
}

#header.alt {
	background: unset;
	background-color: var(--secondary);
	position:fixed;
}

p {
    hyphens: none;
}

p, li {
    font-weight: normal !important;
    font-size: 18px !important;    
}

h2 {
	font-size: clamp(21px, calc(1.3125rem + ((1vw - 7.68px) * 0.434)), 26px) !important;
	min-height: 0vw;
}

h3, blockquote p:first-child {
	font-size: clamp(16px, calc(0.9375rem + ((1vw - 7.68px) * 0.434)), 20px) !important;
	min-height: 0vw;
}

h4, h5 {
	font-size: clamp(16px, calc(1rem + ((1vw - 7.68px) * 0)), 16px) !important;
	min-height: 0vw;
}

#header, #footer {
    background-color: var(--secondary);
}

#js-menu-toggle > li > ul > li > a:hover {
    background-color: var(--secondary) !important;
    color: white !important;
}

.button {
    background-color: var(--secondary) !important;
}

.button:hover {
    background-color: #ED6E12 !important;
    color: #242424;
}

#page-wrapper {
    background-color: #FFB366 !important;
}

th {
    font-weight:bold !important;
}

table, th, td {
    border: 1px solid black;
}

#header nav {
    right: 4em;
}

.col-12-mobilep > h2 {
    font-size: 30px
}

.col-3 {
	width: unset;
}

.list--navigation > .list__item {
	/* display: inline;  */
	margin-right: 20px;
}
