/* voice and influence */

:root{
--primary: #75A8DC;
} 
 
/* Font */
* {
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  letter-spacing: unset !important;
}

strong, b{
  color: #4e4e4e;
}

p {
    margin: 0 0 1em 0;
}

.listing__heading{
  font-size: 1.7rem;
}

/* Menu */
#menu ul + h2,
#menu ul + h2 + ul {
  display: none;
}

#menu{
  background-color: var(--primary);
  color: #000;
}
#menu h2 {
  color: #000;
}
#menu .close:focus {
    background-image: url(https://www.hullvoiceandinfluence.org.uk/themes/jadu-spectral/dist/css/images/close.svg) !important;
    background-position: 4.85em 1em !important;
    background-repeat: no-repeat !important;
}

#nav ul ul, #nav ul li:hover ul:before, #nav ul li.hover ul:before{
background-color: white !important;
box-shadow: 0 2px 0 0 rgb(0 0 0 / 7%);
  color:black;
}

#nav > ul > li > ul > li a:not(.button){
border-top: solid 1px #6d4c9d;
}

#nav > ul > li > ul >li:first-child > a{
border-top: 0;
}


@media screen and (max-width: 840px){
#navButton .toggle:before, #navPanel{
  background-color: var(--primary);
}
    
#navPanel .link.depth-0{
  font-weight: 600; 
}

}

#js-menu-toggle > li:nth-child(2), #js-menu-toggle > li:nth-child(3), #navPanel > nav > a:nth-child(5), #navPanel > nav > a:nth-child(6) {
  display: none;
}

#header{
  background-color: var(--primary);
}
#header .logo > *, #header nav > ul > li > a{
  color: #000;
}
#header.alt > nav > ul > li > a{
  color: #fff;
}

/* hide html5 copyright */
#footer > ul > li:nth-child(2) {
  display:none;
}


/* Buttons */

input[type="submit"], input[type="reset"], input[type="button"], .button, input[type="submit"].primary, input[type="reset"].primary, input[type="button"].primary, .button.primary{
background-color: var(--primary);
box-shadow: unset;
color: #000;
}
#searchbtn {
  background-color: #fff;
}

.wrapper.style5 .button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .button:hover, input[type="submit"].primary:hover, input[type="reset"].primary:hover, input[type="button"].primary:hover, .button.primary:hover{
background-color: #fff;
color: #000;
}




/* Links */


a.image-link {
  border: unset;
}

a:hover:not(.button){
color: var(--primary);
text-decoration: underline;
}


/* Search */

input#search-site {
display: inline;
width: 80%;
}

@media screen and (max-width: 840px){
    input#search-site {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
    }
    
    input.button.button--primary {
        width: 100%;
    }
    
    #top-nav{
        height: 4rem;
    }
}
#footer input{
  background-color: var(--primary);
  border: 2px solid #000;
  box-shadow: unset;
  color: #000 !important;
}
#footer input::placeholder{
  color: #000 !important;
}





/* hide postcode */
#postcode {
  display:none;
}
label[for="postcode"]
{
  display:none;
}


/* Banner */
#banner {
background-size: cover !important; 
}

.supplement__heading {
font-size: 1.8em !important;
}

#footer {
background-color: var(--primary);
}

.copyright li {
color:white;
}

/* Banner */
#banner {background-size: cover !important;}

.supplement__heading {
font-size: 1.8em !important;
}

#footer {
background-color: var(--primary) !important;
}

.copyright li {
color:#000;
}

.nav--pagination li {
text-align: center;
}


.listing--featured {
padding-top:1em;
}

#header .button, #header.alt .button  {
box-shadow: unset;
}

#header nav{
display: flex;
}


/* Hide submit new event button */
#main > div > div > div.col-4.col-12-narrow > a.button.button--primary.button--block {
display: none;
}


/* Hide banner heading */
#banner > h2{
    display: none;
}

a:focus {
    background: #E4B745 !important;
    color: #000 !important;
    outline: 2px solid #000;
}
*:focus, input:focus{
  outline: 2px solid #E4B745;
}
