
/* leaving care hull */

:root{
--lightgreen: #8AFFBD;
--green: #00F9D5; 
--darkgreen: #00BBFF; 
--dartmouthgreen: #0047C2;
--greengrey: #eaf1e2;
}

a {
    color: var(--dartmouthgreen);
}

#js-menu-toggle > li:nth-child(2),
#js-menu-toggle > li:nth-child(3)
{
  display:none;
}

body {
  font-weight:400;
}

#header .logo > *, #header > a > h1, ul li, #js-menu-toggle > li > a, #footer > ul > li, h1, h2, h3, h4, h5, h6, p, #js-menu-toggle > li, .recite-ele-style > a, input[type="submit"].primary, input[type="reset"].primary, input[type="button"].primary, .button.primary  {
  color: #000 !important;
}
#header {
  background-color: var(--darkgreen) !important;
}
#banner h1{
  display: none;
}

#js-menu-toggle > li:nth-child(1) > a:focus {
    outline: 2px dotted var(--lightgreen);
}

#footer {
  background-color: var(--darkgreen);
  padding: 1em 0 3em 0;
}


#footer > ul > li:nth-child(2) {
  display: none;
}

/* from doc This is the css we have amended via inspect element -  */

ul.alt li, ul.list--listing li {
    padding: 0.5em;
    display: inline;
}

.button {
  background-color: var(--darkgreen) !important;
  color: black !important;
  min-width:20%;
}

#main > div > div > div.col-12.col-12-narrow > div> div > div > div > div > p > a {
  padding:0;
}

input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active, .button:active {
  background-color: var(--green) !important;
  outline: 2px dotted var(--green) !important;
  color:black;
}

.list__item > a {
  color: var(--dartmouthgreen) !important;
  font-weight:400;
}

#nav > ul > li > ul > li a:hover {
    background-color: var(--lightgreen);
}

#header nav{
  display: flex;
}

.button:hover {
    background-color: var(--green) !important;
}

#js-menu-toggle > li:nth-child(1) > a {
  background-color: var(--darkgreen) !important;
  color: black !important;
  border: 9px;
  width:10em;
  text-align:center;
  margin-right:30px;
  font-weight: 400;
}

input[type="button"]:focus, input[type="submit"]:focus, a:focus {
    outline: 2px dotted var(--darkgreen);
}

input[type="search"] {
  border-color: #000;
  box-shadow: 0 0 0 2px #000;
  background-color: var(--greengrey) !important;
}


input[type="search"]:hover, select:hover, textarea:hover {
    border-color: var(--dartmouthgreen);
    box-shadow: 0 0 0 2px var(--dartmouthgreen);
}
ul.alt li, ul.list--listing li {
    border-top: unset;
}

.copyright > li {
  color: black !important;
  font-weight: 400;
}



input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="email"]:focus, 
input[type="date"]:focus, 
input[type="search"]:focus, 
select:focus, 
textarea:focus {
    box-shadow: 0 0 0 2px var(--green) !important;
    border-color: var(--green) !important;
}

#banner {
          background-size: cover !important;
}

/* hide sign-in and register on mobile view - hard coded by id - yuk */
#navPanel > nav > a:nth-child(6) {
  display:none;
}

#navPanel > nav > a:nth-child(7) {
  display:none;
}

/* for home pages */
#page-wrapper > section:nth-child(4) > div > div > div {
    width: unset;
}
/* for non-home pages */
#page-wrapper > section:nth-child(3) > div > div > div {
    width: unset;
}

/* hide event submit button */
#main > div > div > div.col-4.col-12-narrow > a {
  display: none;
}


.listing--featured {
    padding: 0;
    margin-bottom: 0;
}

.listing {
   border-radius: 0.375em;
   border: solid 1px black;
   padding: 1.5em;
}

.form__label { 
  color:black !important; 
  font-weight:400;
}

.widget-width {
  padding: 0 1.0rem;
}

#skip-links > ul > li > a {
    color: var(--darkgreen) !important;
}

#navPanel > nav > a:nth-child(5) {
  display: none;
}
