/* leaving care hull */

:root{
--lightgreen: #CDFF97; 
--green: #92d050; 
--darkgreen: #00b050; 
--dartmouthgreen: #005b29
--greengrey: #eaf1e2
}

#js-menu-toggle > li:nth-child(2),
#js-menu-toggle > li:nth-child(3)
{
  display:none;
}

#header > a > h1 {
  color:black !important;
}

#header {
  background-color: var(--darkgreen);
}

#js-menu-toggle > li > a {
  color:black !important;
}

#js-menu-toggle > li:nth-child(1) > a:focus {
    outline: 2px dotted var(--lightgreen);
}

#footer {
  background-color: var(--darkgreen);
  padding: 1em 0 3em 0;
}

#footer > ul > li {
  color:black;
}

#footer > ul > li:nth-child(2) {
  display: none;
}

/* from doc This is the css we have amended via inspect element -  */
.col-3.col-12-mobilep {
    width: 100%;
}
.col-9.col-12-mobilep {
    width: 100%;
}
ul.alt li, ul.list--listing li {
    padding: 0.5em;
    display: inline;
}

.button {
  background-color: var(--darkgreen) !important;
  color: black !important;
}

input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active, .button:active {
  background-color: var(--green) !important;
  outline: 2px dotted var(--green) !important;
  color:black;
}

.list__item > a {
    color: var(--dartmouthgreen) !important;
}

h1, h2, h3, h4, h5, h6 {
    color: black !important;
}

p {
  color:black !important;
}
