:root{
  --primary: #011c35;
}


h1, h2, h3, h4 {
  font-family: Helvetica;
  color: var(--primary);
  font-weight: bold;
}

p {
  font-family: Helvetica;
  color: var(--primary);
}

.hero-heading {
  color: #ffffff !important;
}

.hero-content > div > p {
  color: white !important;
}

.list__link-text {
  color: var(--primary) !important;
}

.list__item {
  color: var(--primary) !important;
}

.widget-navigation > ul > li > a > h3 {
  color:black !important;
  font-family: Arial !important;
}

.widget-image .image__caption {
  font-family: Helvetica !important;
  color: #000000;
}

.pagination__content {
  color: var(--primary);
}

.pagination__meta {
  color: var(--primary) !important;
}


#js-menu > div.menu-navigation__inner > div > nav > ul > li > a {
  text-transform: unset;
}

a {
  text-underline-position: under !important;
}

.list--breadcrumb > li > a {
  color: var(--primary) !important;
  
}

/*
.nav__list {
  color: #000000 !important;
  font-family: Helvetica !important;
}

.pagination__label, .pagination__meta {
  font-family: Helvetica;
}

.page-subheading {
  font-family:Helvetica;
  color: #000000;
}

*/

