@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,400&display=swap');
* {font-family: 'Roboto', sans-serif !important;}
:root {
  --slate-blue: #5B89B4;
  --shocking-pink: #E6007E;
  --yellow: #F5A800;
}

.icon-accessibility{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' class='bi bi-universal-access' viewBox='0 0 16 16'%3E%3Cpath d='M9.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0ZM6 5.5l-4.535-.442A.531.531 0 0 1 1.531 4H14.47a.531.531 0 0 1 .066 1.058L10 5.5V9l.452 6.42a.535.535 0 0 1-1.053.174L8.243 9.97c-.064-.252-.422-.252-.486 0l-1.156 5.624a.535.535 0 0 1-1.053-.174L6 9V5.5Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

.site-header {
    background-color: var(--slate-blue);
}

.menu-navigation .menu-navigation__inner{
    background-color: var(--shocking-pink);
    width: 20%;
}

.site-search--header {
    color: var(--shocking-pink);
    height: 20%;
}

.toggle-icon::before, .toggle-icon::after, .toggle-icon .toggle-icon__line {
    background-color: black;
}

.icon-ui-search {
    color:black;

}

.button--primary {
    color:black !important;
}


.nav--primary-navigation .button__text {
   color: black; 
}


.site-header a:focus, 
.site-header button:focus, 
.site-header 
.button:focus, 
.site-header__links:focus, 
.site-footer__social .list--social-links 
.list__link:focus, .site-footer__logo 
.identity__link:focus, .site-footer__group 
.list__link:focus, .site-footer__link:focus, 
.site-footer__text:focus, .site-footer__links:focus {
    outline: 0px;
    background-color: transparent;
}

.button, 
.form__label--upload, 
.form__label--image-upload, 
.widget--myaccount-sign-in 
a,.widget--myaccount-api-links 
a,.widget--myaccount-organisation-account-links 
a,.widget--myaccount-organisation-links 
a,.form__label--upload:visited,
.form__label--image-upload:visited,
.widget--myaccount-sign-in a:visited,
.widget--myaccount-api-links a:visited,
.widget--myaccount-organisation-account-links a:visited,
.widget--myaccount-organisation-links a:visited, 
.button a:link
{
    -webkit-appearance: none;
    /* background-color: var(--slate-blue); */
    border:none;
    color: #000 !important;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    margin: 1.5rem 4px 4px;
    padding: 1rem 2.25rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: unset;
    vertical-align: middle;
    white-space: normal;
}

.button, .form__label--upload, 
.form__label--image-upload, 
.widget--myaccount-sign-in a, 
.widget--myaccount-api-links a, 
.widget--myaccount-organisation-account-links a, 
.widget--myaccount-organisation-links a, 
.form__label--upload:visited, 
.form__label--image-upload:visited, 
.widget--myaccount-sign-in a:visited, 
.widget--myaccount-api-links a:visited, 
.widget--myaccount-organisation-account-links a:visited, 
.widget--myaccount-organisation-links a:visited, .button a:link {
    background-color: var(--yellow);
}

.button--primary:hover, .form__radio:checked+.button:hover, .button--primary:active, .calendar--event-booking .calendar__dates .form__radio:checked+.button:active, .button--primary:focus, .calendar--event-booking .calendar__dates .form__radio:checked+.button:focus, .form__label--upload:hover, .form__label--image-upload:hover, .form__dropzone .form__dropzone-upload-button:hover, .form__footer .button--secondary:hover, .form__label--upload:active, .form__label--image-upload:active, .form__dropzone .form__dropzone-upload-button:active, .form__footer .button--secondary:active, .form__label--upload:focus, .form__label--image-upload:focus, .form__dropzone .form__dropzone-upload-button:focus, .form__footer .button--secondary:focus {
    /* color: yellow !important; */
}


.icon-ui-search {
    background-image: url(data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2260%22%20height%3D%2260%22%20viewBox%3D%220%200%2060%2060%22%20preserveAspectRatio%3D%22xMinYMid%22%20aria-hidden%3D%22true%22%20focusable%3D%22false%22%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M57.64%2C53.46l-15-15a23%2C23%2C0%2C1%2C0-4.18%2C4.18l15%2C15a3%2C3%2C0%2C0%2C0%2C4.18-4.17Zm-33.19-46a17%2C17%2C0%2C1%2C1-17%2C17A17.06%2C17.06%2C0%2C0%2C1%2C24.45%2C7.41Z%22%20fill%3D%22%23000%22%2F%3E%3C%2Fsvg%3E);
}

.menu-navigation .list__link {
     color:white;
}

.menu-navigation .list__link:hover {
     background-color:#F5A800; 
}
