:root{
	--gold: #d7b04a;
	--darkGold: #d69a02;
	--blue: #0c0e1a;
}

#menu ul + h2,
#menu ul + h2 + ul {
    display: none;
}
.summary {
  visibility:hidden;
}
.button {
    background: var(--gold) !important;
}
.button:hover {
	background-color: var(--darkGold) !important;
}
a:focus{
    background-color: var(--gold) !important;
}
#menu {
    background: var(--blue) !important;
}
#menu .close:focus {
    background-image: url(https://www.hullguildhall.org.uk/themes/jadu-spectral/dist/css/images/close.svg) !important;
    background-position: 4.85em 1em !important;
    background-repeat: no-repeat !important;
}
