body.is-menu-visible #menu {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  background-color: #657083 !important;
}

#menu div:last-of-type,
#menu ul:last-of-type{
  display: none;
}

#menu {
  background: #657083 !important;
}

#header nav>ul>li>a.menuToggle {
  color: #ffffff !important;
}

.more:focus {
  outline: 2px dotted #657083 !important;
  color: white !important;
}

*:focus,
input:focus {
  outline: 2px dotted #657083;
}

.wrapper.style5 button:focus {
  background-color: blue !important;
  border: 2px dotted #657083;
}


a:focus {
  background: transparent !important;
  opacity: 0.5;
}

.list--breadcrumb a:focus {
  color: unset !important;
}

.style5 h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.05em !important;
}

.wrapper.style5 input[type="submit"], .wrapper.style5 input[type="reset"], .wrapper.style5 input[type="button"], .wrapper.style5 button, .wrapper.style5 .button, .wrapper.style5 input[type="submit"]:hover, .wrapper.style5 input[type="reset"]:hover, .wrapper.style5 input[type="button"]:hover, .wrapper.style5 button:hover, .wrapper.style5 .button:hover {
  box-shadow: unset;
  background: #A8BBC7;
}

a.list__link, #one a {
  border-bottom: solid 1px #B1D9D0;
}

a.list__link:hover, #one a:hover {
  border-bottom: solid 1px #AFC4AF;
}

a.list__link:active, #one a:active {
  border-bottom: solid 1px #A8BBC7;
}

#menu .close>a:focus {
  background: unset !important;
}

#menu .close:focus {
  background-image: url(https://www.weddingsandceremoniesinhull.org.uk/themes/jadu-spectral/dist/css/images/close.svg) !important;
  background-position: 4.85em 1em !important;
  background-repeat: no-repeat !important;
}

.site-rating__heading {
    color: white !important;
}

ul.feedback__list {
    color: black;
}
