#menu div:last-of-type,
#menu ul:last-of-type  {
display: none;
}
.summary {
  visibility:hidden;
}
.image_right {
  display:none;
}
#menu .close:focus {
    background-image: url(https://www.travelhull.co.uk/themes/jadu-spectral/dist/css/images/close.svg) !important;
    background-position: 4.85em 1em !important;
    background-repeat: no-repeat !important;
}
input[type="text"], input[type="password"], input[type="email"], input[type="date"], input[type="search"], select, textarea {
  border: 1px solid #000 !important;
} 
input[type="submit"], input[type="reset"], input[type="button"], button, .button {
  white-space: normal !important;
  height: unset !important;
}
#footer input {
  border: 1px solid #fff !important;
}
