#menu ul + h2,
#menu ul + h2 + ul {
    display: none;
}
#menu h2:last-of-type,
#menu ul:last-of-type {
display: block;
}
.summary {
  visibility:hidden;
}
.image_right {
  display:none;
}
#menu .close:focus {
    background-image: url(https://www.travelhull.co.uk/themes/jadu-spectral/dist/css/images/close.svg) !important;
    background-position: 4.85em 1em !important;
    background-repeat: no-repeat !important;
}
